* {
    margin: 0 auto;
}
header {
    text-align: center;
}

img {
    display: block;
    background: #000;
    animation: fade 15s;
}
@keyframes fade {
    o% {
        opacity: 0;
    }
    100% {
        opacity 1;
    }
}